.container_articles{
  margin-left: 20px;
  margin-right: 20px;

  width: 600px;
  height: 700px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.card_separator{
  margin: 100px;
}
.articles_others{
  width: 700px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;



}
