.container_small_card {
  width: 700px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: row;
}
.container_small_card_content{
  display: flex;
  flex-direction: row;
}
.small_card_photo > img {
  width: 250px;
  min-width: 100px;
  margin-right: 20px;
  display: flex;


}
.small_card_title{
  display:flex;
  justify-content: end;
  align-items: center;
  font-size: 10px;
}
.container_small_card_separator{
  margin-top: 50px;
}
